version: 2

updates:
  - package-ecosystem: docker
    directory: "/docker"
    schedule:
      interval: monthly
    groups:
      all-docker:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
    groups:
      all-github-actions:
        patterns:
          - "*"