name: Build and Push Images

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: "Enter a SINGLE version number to build"

jobs:
  bake:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Create Bake File
        run: python dev/baker.py --arm --file --version ${{ inputs.version }}
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload Bake File
        uses: actions/upload-artifact@v6
        with:
          path: docker-bake.json
          name: bake-file

      # Splits the bake file into a build matrix based on the platforms
      - name: Generate Build Matrix
        id: generate
        uses: docker/bake-action/subaction/matrix@v6
        with:
          target: webtrees
          fields: platforms

      # Generate some extra metadata for use in later steps
      - name: Output Metadata
        id: metadata
        run: python dev/metadata.py --version ${{ inputs.version }}
        env:
          GITHUB_TOKEN: ${{ github.token }}

    outputs:
      build-matrix: ${{ steps.generate.outputs.matrix }}
      metadata: ${{ steps.metadata.outputs.metadata }}

  build:
    needs: bake
    runs-on: ${{ startsWith(matrix.platforms, 'linux/arm') && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}

    strategy:
      matrix:
        include: ${{ fromJson(needs.bake.outputs.build-matrix) }}

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Download Bake File
        uses: actions/download-artifact@v7
        with:
          name: bake-file

      # Pretty sure no longer necessary with ARM runners, but left in case
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest

      - name: DockerHub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Github CR Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        uses: docker/bake-action@v6
        id: builder
        with:
          source: .
          targets: ${{ matrix.target }}
          # Since we're not pushing directly to the registry here, the tags
          # need to just be the base image names with no ":latest" or similar tag.
          # If the image is pushed in this step, the last tag built would overwrite
          # any other tags and only get one platform in the registry manifest.
          set: |
            *.tags=${{ fromJSON(needs.bake.outputs.metadata).base_images[0] }}
            *.tags=${{ fromJSON(needs.bake.outputs.metadata).base_images[1] }}
            *.platform=${{ matrix.platforms }}

      - name: Save Build Metadata
        run: echo '${{ steps.builder.outputs.metadata }}' > build-metadata.json

      # For debugging purposes
      - name: Upload Build Metadata
        uses: actions/upload-artifact@v6
        with:
          path: build-metadata.json
          name: build-metadata-${{ hashFiles('build-metadata.json') }}

      # Update the registry with the tags to apply to the specific digest.
      # With the --append flag, this will update instead of overwrite.
      - name: Upload Digest
        run: python dev/imagetools.py ${{ fromJSON(needs.bake.outputs.metadata).tags }} $(cat build-metadata.json | jq -r '.webtrees.[ "containerimage.digest" ]')

  update:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Update DockerHub README
        uses: christian-korneck/update-container-description-action@v1
        env:
          DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_PASS: ${{ secrets.DOCKERHUB_PASSWORD }}
        with:
          destination_container_repo: ${{ secrets.DOCKERHUB_USERNAME }}/webtrees
          provider: dockerhub
          short_description: ${{ github.event.repository.description }}

  release:
    needs:
      - bake
      - build

    permissions:
      contents: write

    uses: NathanVaughn/reusable-actions/.github/workflows/create-release.yml@main
    with:
      tag: ${{ fromJSON(needs.bake.outputs.metadata).release_tag }}
      body: ${{ fromJSON(needs.bake.outputs.metadata).release_body }}
      prerelease: ${{ fromJSON(needs.bake.outputs.metadata).prerelease }}
