name: Update Dockerfile

on:
  schedule:
    - cron:  '0 12 * * *'

jobs:
  main:

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@master
      with:
        ref: master

    - name: Cache Pip
      uses: actions/cache@v2
      id: cache-pip
      with:
        path: ~/.cache/pip
        key: pip-${{ hashFiles('**/requirements.txt') }}

    - name: Prepare repository
      run: git checkout "${GITHUB_REF:11}"

    - name: Update apt
      run: sudo apt update

    - name: Setup Python 3.8
      uses: actions/setup-python@v2.0.1
      with:
        python-version: 3.8

    - name: Install pip requirements
      run: pip3 install -r requirements.txt

    - name: Set up Docker Buildx
      id: buildx
      uses: crazy-max/ghaction-docker-buildx@v1
      with:
        buildx-version: latest
        qemu-version: latest

    - name: Docker login
      uses: azure/docker-login@v1
      with:
        login-server: index.docker.io
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Run updater script
      run: python3 updater.py
      env:
        PLATFORMS: ${{ steps.buildx.outputs.platforms }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
