name: Check and Push Updates

on:
  schedule:
    - cron:  '0 12 * * *'
  workflow_dispatch:

jobs:
  main:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
      with:
        ref: master

    - name: Cache Pip
      uses: actions/cache@v2
      id: cache-pip
      with:
        path: ~/.cache/pip
        key: pip-${{ hashFiles('**/requirements.txt') }}

    - name: Setup Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install pip Requirements
      run: pip3 install -r requirements.txt

    - name: Check For Updates
      #run: echo "::set-env name=WT_UPDATE::$(python3 updater.py --check)"
      run: echo "WT_UPDATE=$(python3 updater.py --check)" >> $GITHUB_ENV
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # Only run the following if update(s) are needed
    # Set by the 'WT_UPDATE' environment variable being 'true'

    - name: Determine Week
      if: env.WT_UPDATE == 'true'
      # run: echo "::set-env name=WEEK::$(date +%V)"
      run: echo "WEEK=$(date +%V)" >> $GITHUB_ENV

    - name: Cache Docker Layers
      if: env.WT_UPDATE == 'true'
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: buildx-${ WEEK }

    - name: Set up QEMU
      if: env.WT_UPDATE == 'true'
      uses: docker/setup-qemu-action@v1
      with:
        platforms: all

    - name: Set up Docker Buildx
      if: env.WT_UPDATE == 'true'
      uses: docker/setup-buildx-action@v1
      with:
        version: latest

    - name: Create Builder
      if: env.WT_UPDATE == 'true'
      run: docker buildx create --use --name build --node build --driver-opt network=host

    - name: Dockerhub Login
      if: env.WT_UPDATE == 'true'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Github CR Login
      if: env.WT_UPDATE == 'true'
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.GITHUBCR_USERNAME }}
        password: ${{ secrets.GITHUBCR_PASSWORD }}

    - name: Configure AWS Credentials
      if: env.WT_UPDATE == 'true'
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Amazon ECR Login
      if: env.WT_UPDATE == 'true'
      run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws

    - name: Run Updater Script
      if: env.WT_UPDATE == 'true'
      run: python3 updater.py
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        #BUILDX_PLATFORMS: ${{ steps.buildx.outputs.platforms }}

    - name: Clear Docker Credentials
      if: always()
      run: rm -f ${HOME}/.docker/config.json
